.offcanvas-style {
    width: 500px;
    background: #000;
    color: white;
}


nav {
    font-size: 1rem;
    display: flex;
    padding: 20px;
    margin-left: -30px;
}

nav a {
    margin-right: 30px;
    color: #ffffff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;

}

nav a:hover {
    background-color: #444;
}

.contact {
    min-height: 100vh;
    padding: 25px;
    max-width: 300px;

    i {
        margin-right: 10px;
        margin-left: 10px;
        color: white;
    }

    a {
        color: white;
    }

    li {
        margin-bottom: 10px;
        list-style: none;
    }

    h3 {
        color: white;
    }
}

.aboutUs {
    background-color: grey;
    padding: 20px;
    border-radius: 10px;
    min-height: 100vh;
    justify-content: center;

    h2 {
        margin-bottom: 50px;
    }
}

article p {
    margin-bottom: 1em;
    text-align: justify;
    font-size: 16px;
    line-height: 1.4;


}

.container {
    h1 {
        color: white;
    }
}

.blog_details {
    color: white;
    min-height: 100vh;
    padding: 100px;
}