.offcanvas-style {
    width: 500px;
    background: #000;
    color: white;
}

* {
    position: relative;
}

nav {
    font-size: 1rem;
    display: flex;
    padding: 20px;
    margin-left: -30px;
}

nav a {
    color: #fff;
    padding: 10px;

}

nav a:hover {
    background-color: #444;
}

.contact {
    position: absolute;
    top: 0;
    padding: 25px;
    max-width: 300px;

    i {
        margin-right: 10px;
        margin-left: 10px;
    }

    a {
        color: white;
    }

    li {
        margin-bottom: 10px;
        list-style: none;
    }
}